html {
    background-color: #ffffff;
  }

body {
    width: 90%;
    margin: auto;
    border: 5px solid rgb(0, 0, 0);
    padding-top: 5.9em;
    min-height: 500px;
    position: inherit;
  }

h1 {
    color: #fff;
    position: relative;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 70px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
}

h2{
    color: #000;
    position: relative;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
}

h4 {
  text-align: center;

}

p {
  color: #ffffff;
  margin: 0 auto;
  padding: 5px;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

li {
    color: #ffffff;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

header {
  position: absolute;
  border: #000;
  border-style: solid;
  width: 100%;
  left: 0;
  margin: 0;
  top: 0;
  background-color: #333131;
  height: 16%;
}

img {
    display: block;
    margin: 0 auto;
    width: 40%;
    border: #000;
    border-style: solid;
    align-content: center;
  }


a {
  color: #000;
  text-align: center;
  
}

.main_container {
  min-height: 100px;
  
}

.nav_bar{
  color: #000;
  border: #000;
  border-style: solid;
  background-color: #636060;
  word-spacing: 50px;

}

.footerIndex {
  width: 100%;
  left: 0;
  text-align: center;
  border: #000;
  border-style: solid;
  background-color: #333131;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  bottom: 0;
  position: absolute;
  height: 15%;
  top: 800px;
  
}

.footerCollection {
  width: 100%;
  left: 0;
  text-align: center;
  border: #000;
  border-style: solid;
  background-color: #333131;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  bottom: 0;
  position: absolute;
  height: 15%;
  top: 640px;

}

.footerBio {
  width: 100%;
  left: 0;
  text-align: center;
  border: #000;
  border-style: solid;
  background-color: #333131;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  bottom: 0;
  position: absolute;
  height: 15%;
  top: 610px;

}
.footerContact {
  width: 100%;
  left: 0;
  text-align: center;
  border: #000;
  border-style: solid;
  background-color: #333131;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  bottom: 0;
  position: absolute;
  height: 15%;
  top: 610px;

}


.footer-nav {
  word-spacing: 10px;;

}

ul {
  font-size: 30px;

}

/* image grid code from : https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
}